body{
    background-color: rgba(24, 238, 238, 0.938);
}  

#titulo {
font-size: 36px;
text-align: center;
color:rgb(167, 252, 223)

}

.texto {
text-align: center;
color: #ddffff;
font-size: 20px ;


}